@font-face {
    font-family: "ostrich";
    src: url('../font/OstrichRegular.otf');
}

@font-face {
    font-family: "ostrich-filled";
    src: url('../font/OstrichSans-Black.otf');
}

body{
    font-family: "ostrich-filled", sans-serif;
    color: floralwhite;
}

html{
    position: relative;
    min-height: 100%;
}

input {
    font-family: sans-serif;
}


.container > .categories {
    display: table-cell;
    vertical-align: middle;
}

/*Navigation Bar**/

.navbar-inverse{
    background-color: rgba(34, 34, 34, 0.5);
    border-bottom: none;

}

.navbar-header{
    width:100%;
    height: 60px;

}

.mynav li
{
    list-style: none;
    display: inline-block;
    border-left: 1px solid white;
    padding-top: 36px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}
.mynav li:last-child{
    border-right: 1px solid white;
}

.mynav li a{
    color:floralwhite;
}
.mynav li a:hover{
    text-decoration: none;
}

#heart img{
    position:relative;
    left:0;
    right:0;
    padding-bottom: 5px;
    height: 50px;
    width: 50px;
}


#content{
    display: table;
    margin: 0 auto;
    text-align: center;
}


.gradient {
    background: -webkit-linear-gradient(90deg, #d64759 10%, #da7352 90%); background: -o-linear-gradient(90deg, #d64759 10%, #da7352 90%); background: linear-gradient(90deg, #d64759 10%, #da7352 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

#title {
    font-size: 7em;
    padding: 10px;
    margin: 0 auto;
    font-family: 'ostrich', sans-serif;
    color: black;
}

.btn {
    background-color: transparent;
    border-color: #ccc;
    color: floralwhite;
}

.input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.date_type {
    vertical-align: middle;
    float: left;
    padding: 1em;
}

/*business search*/
input.transparent-input {
    border:none;
}

.transparent-input {
    /*background-color: rgba(255,255,255,0.2);*/
    opacity: .8;
    border:none;
}

/*.transparent-input::-webkit-input-placeholder*/
/*{*/
    /*color: rgba(0,0,0,1.0);*/
/*}*/

/*.transparent-input::-moz-placeholder*/
/*{*/
    /*color: rgba(0,0,0,1.0);*/
/*}*/

/*.transparent-input:-ms-input-placeholder*/
/*{*/
    /*color: rgba(0,0,0,1.0);*/
/*}*/



/*business image*/
.result-image {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 8px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.result-image:hover .image {
    opacity: 0.3;
}

.result-image:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 3em;
    padding: 10px 32px;
}

.wrapper {
    display:inline-block;
    height: 210px;
    vertical-align: top;
}
.image-wrapper {
    display:inline-block;
    vertical-align: top;
    height: 200px;
    padding: 5px;
}
.button-wrapper {
    display:inline-block;
    vertical-align: top;
    height: 200px;
    padding: 5px;
}
/*love or retry*/
.love-hate{
    padding-top: 4em;
}

/*user rate*/
.d-inline{
    text-align: center;
    float: left;
    margin-left: 15%;
    padding: 7px;
}


.test {
    width:200px;
    /*display:inline-block;*/
    overflow: auto;
    white-space: nowrap;
    margin:0 auto;
}

.footer {
    padding: 1rem;
    text-align: center;
}

.text-muted {
    margin: 20px 0;
    color: black
}


