<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Welcome to Tryst'})">

    <!--Partial Header from fragments/header.html-->
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
</head>
<body>
<div class="container">

    <h1 style="color: darkred">Welcome to Tryst!!</h1>


    <input type="text"/>

</div>



<!-- jQuery & jsBootstrap CDN from fragments/footer.html-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>